.statisticsPage {
    margin: 50px 13%;
    display: flex;
    flex-wrap: wrap;
    div{
        margin: 1%;
    }
    svg{
        height: 200px;
        width: 400px;
        border: 2px solid lightgray;
        border-radius: 15px;
    }
}