.move-list {
    section{
        padding: 3%;
        width: 75%;
        margin: 3% auto;
        background-color: lightgray;
        border-radius: 10px;
        min-width: 200px;
        p{
            width: 100%;
        }
    }
}